################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/mivs.rar1
/laba1.rar1
/lab6.rar1
/lab3.rar1
/colculater.rar1
